@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&family=Roboto+Mono&display=swap");

/* component */
@import "component/reset.css";
@import "component/nav-bar.css";

/* screen */
@import "screen/home.css";
@import "screen/about.css";
@import "screen/work.css";
@import "screen/contact.css";

* {
  box-sizing: border-box;
}
body {
  font-family: "Prata", serif;
  font-family: "Advent Pro", sans-serif;
  width: 100%;
}
